
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Hospital.Models.TimeTable>
@{
    ViewData["Title"] = " Заполнение расписания работы";
}
<h2>@ViewData["Title"]</h2>



<div asp-validation-summary="All"></div>
<form method="POST" asp-controller="TimeTableController" asp-action="TableCreate">
    <div>
        <label>Специальность</label><br /><input name="model" />
    </div>
    <div>
        <label>Фамилия</label><br /><input name="model" />
    </div>


    <input type="submit" value="Добавить" />
</form>

