
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Hospital.Models.DoctorSpecialty>
@{
   ViewData["Title"] = "Список специалистов";
}
<h2>@ViewData["Title"]</h2>

<p><a asp-action="SpecialtyCreate" asp-controller="Specialty">Добавить специалиста</a></p>
<table class="table">
    <thead>
        <tr><th>Специальность</th>
    </thead>
    <tbody>
        @foreach (var specialty in Model)
        {
            <tr><td>@specialty.Name</td></tr>
        }
    </tbody>
</table> 